@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <!-- Jumbotron -->
    <div class="bg-primary text-white px-5 py-5">
        <div class="container px-5 py-5">
            <h1>Mkt <span>Academy</span></h1>
            <h2>
                The best <br />
                courses are here!
            </h2>
            <p>
                Come on and join us!
            </p>
            <button type="button" class="btn btn-outline-light">
                Learn more
            </button>
            <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
                <span class="pt-1">Purchase now</span>
            </button>
        </div>
    </div>
    <!-- Jumbotron -->
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</main>

