@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <!-- Header-->
    <header class="bg-info py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Mkt Academy</h1>
                <p class="lead fw-normal text-white-50 mb-0">Cursos de formação de excelência!</p>
            </div>
        </div>
    </header>
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</main>

