@{
    ViewBag.Title = "Contact";
}

<!-- Jumbotron -->
<div class="bg-primary text-white px-5 py-5">
    <div class="container px-5 py-5">
        <h1>Mkt <span>Academy</span></h1>
        <h2>
            The best <br />
            courses are here!
        </h2>
        <p>
            Come on and join us!
        </p>
        <button type="button" class="btn btn-outline-light">
            Learn more
        </button>
        <button type="button" class="btn btn-light shadow-0 text-primary pt-2 border border-white">
            <span class="pt-1">Purchase now</span>
        </button>
    </div>
</div>
<!-- Jumbotron -->

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <address>
        Rua da Santa Paciência, nº 999<br />
        3020-122 Coimbra<br />
        <abbr title="Phone">P:</abbr>
        351 923 866 077
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>