@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Mkt Academy</h1>
        <p class="lead">Mkt Academy is a...</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
                Mkt Academy
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more </h2>
            <p>Mkt Academy.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
       

        <div class="jumbotron">
            <h1>Mkt Academy</h1>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Welcome to Mkt Academy</h2>
                <p>
                    Mkt Academy is a ....
                </p>
            </div>
            <div class="col-md-4">
                <h2>Build it from scratch</h2>
                <p>You can build...</p>

            </div>
            <div class="col-md-4">
                <h2>Download it</h2>
                <p>You can download the completed project.</p>

            </div>
        </div>

    </div>
</main>